<div class="row">
    <aside class="col-md-3">
        <h2>Coming Soon</h2>
        <p>Stay tuned for future updates...</p>
    </aside>
    <section class="main col-md-9">
        <article>
            <h2>About</h2>
            <p>
                Hi, my name is Joyal Jaison, and I am currently studying Computer programming. I am an aspiring student. That's all about me, what are you looking to buy?
            </p>
            <p>
               In this shop, i sell various wondrous items which I hope you'll love. Guaranteed!
            </p>
        </article>
    </section>
</div>
