<div class="row">
    <aside class="col-md-3">
        <h2>Coming Soon</h2>
        <p>Stay tuned for future updates...</p>
    </aside>
    <section class="main col-md-9">
        <article>
            <h2>About</h2>
            <p>
                Hi, my name is Chandupa Peiris, and I am currently studying Computer programming. My interests include building web applications, exploring new technologies, and solving challenging problems. My goals are to become a skilled software engineer and contribute to impactful projects.
            </p>
            <p>
                I enjoy learning about web development frameworks and experimenting with APIs to build dynamic and interactive applications. Stay connected to see more updates!
            </p>
        </article>
    </section>
</div>
