<h2>Add a New Category</h2>
<form method="post" action="/categories/add">
    <fieldset>
        <div class="form-group">
            <label for="category">Category:</label>
            <input class="form-control" id="category" name="category" type="text" required autofocus />
        </div>
    </fieldset>
    <hr />
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>